<div class="col-md-12">
  <%= simple_form_for @team do |team| %>
    <div class="team-form">
    <%= team.input :title, class: "form-control" %>
    <%= team.submit class: "btn btn-info" %>
    </div>
  <% end %>
</div>
