.img-responsive {
  display: block;
  height: auto;
  width: 100%;
}

.coffee {
  margin-top: -20px;
}

.left-image {
 float: left;
  margin-right: 52px;
  margin-left: 29px;
  margin-bottom: 24px;
}

.right-image {
  float: right;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-right: 43px;
}

.main {
  /*padding-bottom: 143px;*/
  padding: 50px 0px;
  clear: both;
}

.left-side {
  background-color: #EEEEEE;
}

.test{
  float: right;
}

.left-text {
  float: right;
  width: 600px;
  text-align: left;
}

img.left-image.img-responsive {
  margin-left: 46px;
  margin-bottom: 25px
}

.main-text {
 font-size: 19px;
 text-align: justify;
 // max-width: 900px ;
}

.modal-content #wrapper {
 padding-left: 183px;
}

.modal-body {
  margin-left: 171px;
}

.modal-fix {
  margin-left: 0px;
}

button.modal-box {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 31px;
  margin-right: 13px;
}

button.modal-box:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

button.new-team {
  background-color: #000000;
  border: none;
}

button.new-team:hover {
  background-color: #FFC46C;
  color: #000000
}

footer {
  padding: 20px;
}