// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-idea {
  width: 500px;
}

.well {
  max-width: 700px;
  background: #C2E0FF;
  color: black;
  text-decoration: none;
}

.trash {

}

.users {


}

.bookmark {
}
