.bs-example{
      margin: 20px;
    }

.navbar-default .navbar-nav>li>a:hover {
  background-color: #E7E7E7
}

a.idea {
  background-color: #4CEC54;
  color: #000000 !important;
}

a.idea:hover {
  background-color: #53D85A !important;
}

.nav>li>a {
  margin-left: 13px;
}

.navbar-nav>li>a {
  margin-bottom: 7px;
  margin-top: 7px;
  -moz-border-radius: 6px;
  border-radius: 6px; /* standards-compliant: (IE) */
}
