// Place all the styles related to the shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkbox_container {
  display: block;
  padding-right: 30px;
}
.checkbox_container input {
  display: inline;
}
label.collection_check_boxes {
  padding-left: 5px;
}
.checkbox_container .collection_check_boxes{
  display: inline;
}
.modal-sm .modal-content{
  width: 450px;
  padding: 20px;
}

.share-modal-header {
  width: 390px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}