// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-form {
  max-width: 500px;
}



.teams {
  background: #E1F5FA;
}

input#invitation_email.form-control { width: 501px; }

input.btn.btn-info { margin-bottom: 11px; }
.coty-class { margin-top: 15px; }
