// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gravatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
